{% load static %}

<!doctype html>

<head>

	 <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">


	 <link href="https://fonts.googleapis.com/css?family=Comfortaa|Montserrat+One&display=swap" rel="stylesheet">
	<meta charset="utf-8">




</head>




	<div id="mysidecontainer">
<div class="profilepicdiv">
	<img class="profilepic" src="{% static "img/gradpic.jpg" %}" alt="My Graduation picture!">
	<button id="locationbtn" type="button" class="btn btn-light">UI/UX</button>
</div>

 <div id="bottomrect">
 

 </div>
 <div id="rectangle"></div>

</div>



<!-- header as a whole -->
<div class='hheader'>
<!-- my name and title -->
<div class="myintro"><p class="intro"> Parima Sahbai <p class="smalltext"> Software, art, and UI/UX Developer</p></p></div>

<div class='menucont'>
	<a class= "link first" href="/">Home</a
		><a class= "link" id='about' href="#">About</a
			><a class= "link" href="#" id='contact'>Contact</a
				><a class= "link" href="#" id='resume' >Resume</a></div>
</div>




<div class='bg-modal'>
  <div class='modal-content' >
    <div class="close">+</div>
  


<div class='contactcontent'>
  <div class=contacticon>
    <a href="mailto:ps4ww@virginia.edu" target="_blank">
  <img class="contacticon email" src="{% static "img/email.png" %}" alt="email: ps4ww@virginia.edu">
</a>
  <p class='contactsheettext'>ps4ww@virginia.edu</p>
  <a href="https://www.linkedin.com/in/psahbai/" target="_blank">
  <img class="contacticon linkedin" src="{% static "img/linkedin.png" %}" alt="LinkedIn: Parima Sahbai">
</a>
<br><br><br>
<p class='contactsheettext'> Feel free to contact me on any of the above mediums!</p>
  <br><br><div class='credit'>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a></div>
</div>

  </div>


    <div class='resumecontent'>
    <iframe class='pdf' src="{% static 'docs/parimasahbairesume.pdf' %}"></iframe>
</div>

<div class='aboutcontent'>

    <br><br>


    <p>How is it going? I'm <b>Parima </b>(Pa-ra-ma) <b>Sahbai</b> (saba ee). I was born in Tehran, Iran but grew up in Virginia Beach, VA (US Citizen!), always having a knack for software and web development and Art as well. I graduated from the <b>University of Virginia</b> (wahoowa) in May 2018 with my bachelors in <b>computer science (BA)</b> and a <b>minor in the studio arts</b>. I stayed in school and will be recieving my Masters in <b>computer science (MCS)</b> in December 2019!<br><br><br> Interested in my qualifications or want to know about? Take a look at my resume and feel free to contact me!</p></p>

  </div>
</div>



</div>



<script type="text/javascript" src="{% static 'scripts/realmenu.js' %}"></script>











