
{% load static %}

<!doctype html>



<head>

   <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">


   <link href="https://fonts.googleapis.com/css?family=Comfortaa|Montserrat+One&display=swap" rel="stylesheet">
  <meta charset="utf-8">

</script>

</head>


<!-- 

<div class='bg-modal-cont'>
  <div class='modal-content2' >
    <div class="close">+</div>
 -->

<!-- <div class='bubbletea'>

    


  </div>
</div>


 -->