{% load static %}

<!doctype html>
<html lang="en">
<head>

  <title> Software Dev.</title>

	 <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">

   <link rel="stylesheet" type="text/css" href="{% static 'css/webdev.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">


	 <link href="https://fonts.googleapis.com/css?family=Comfortaa|Montserrat+One&display=swap" rel="stylesheet">
	<meta charset="utf-8">

	      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script>
         $(document).ready(function(){
            $('#header').load('../menu');
         });
      </script>



</head>
<body>

 <div id="maincontainer">

  <section class="main text-center" style="overflow: auto">
  <div class="container">
   
    <ul class="list-unstyled row">
      <li class="col-md active" data-class="all">All</li>
      <li class="col-md" data-class="games">Games</li>
      <li class="col-md" data-class="software">Software</li>
      <li class="col-md" data-class="web">Web Apps</li>
      <li class="col-md" data-class="mobile">Mobile Apps</li>
      <li class="col-md" data-class="other">Other</li>


    </ul>
  </div>



  <div class="container-fluid">


      <div class="col-md-3 images" id='minimarket' data-class="software">
      <img src="{% static "img/photominimarketcover.png" %}" alt="minimarket">
       <div class="work-text-content">
    <p>Photo Mini-Market</p>
  </div>
    </div>



         <div class="col-md-3 images" id='nasapower' data-class="web">
      <img src="{% static "img/nasapower.png" %}" alt="NASA Power UI">
       <div class="work-text-content">
    <p>NASA Power Application</p>
  </div>
    </div>





    <div class="col-md-3 images" id='bubbletea' data-class="games">
      <img src="{% static "img/bobafever.png" %}" alt="Bubble Tea Game">
       <div class="work-text-content">
    <p>Boba Fever</p>
  </div>
    </div>



       <div class="col-md-3 images" id='artisticgroove' data-class="games">
      <img src="{% static "img/artisticgroove.png" %}" alt="Artistic Groove">
       <div class="work-text-content">
    <p>Artistic Groove</p>
  </div>
    </div>



       <div class="col-md-3 images" id='mlproj' data-class="other">
      <img src="{% static "img/mlprojcover.png" %}" alt="ML Project">
       <div class="work-text-content">
    <p>Virginia Machine Learning</p>
  </div>
    </div>




    </div>
    
  </div>
</section>
 



 </div>





<!-- modal -->





<div class='bg-modal-2'>
  <div class='modal-content-2' >
    <div class="close">+</div>


   <div class='artisticgroovecont'>
     <div class= gamecont>
      <h2 class="intitle">Artistic Groove</h2>
      <sub> Scroll down for more information!</sub>

<!--     <iframe class="game" frameborder="0" src="https://itch.io/embed-upload/1419497?color=333333" allowfullscreen="" width="800" height="500"><a href="https://ppyy16.itch.io/artisticgroove">Play ArtisticGroove on itch.io</a></iframe>
 --></div>
   </div>
 <div class='bubbleteacont'>
  <div class= "gamecont">
  <h2 class="intitle">Boba Fever</h2>
  <sub> Scroll down for more information!</sub>
<!--     <iframe class="game" frameborder="0" src="https://itch.io/embed-upload/1424307?color=333333" allowfullscreen="" width="800" height="500"><a href="https://ppyy16.itch.io/boba-fever">Play Boba Fever on itch.io</a></iframe>
 -->  </div>
</div>


   <div class='nasapowercont'>

</div>

   <div class='mlprojcont'>
 <!--  <iframe class="video" id="modal-video" width="560" height="315" src="https://www.youtube.com/embed/dMe4nu39vDo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

</div>


   <div class='minimarketcont'>
    <div class="in">
    <h2 class="intitle"> Welcome to Photo Mini-Market!</h2>
    <span class="contwords"> In this project, me and a group of classmates and friends decided to create image manipulation "filters" by using seam carving and Voronoi diagrams. I will only be speaking about Voronoi as that was my contribution to the project. </span> <br>
        <img class= "inmodimage" id="pmarket" src="{% static "img/minimarketprog.png" %}" alt="Voronoi Sample">

    <br>
    <span class="contwords"> Initially, my idea of coding and manipulating this algorithm to work for image modification was to only gather points which have high entropy, meaning that they would capture the significant parts of the image where data retention is neccesary. After making this somewhat work, I realized that the image simply did not look like the original enough and realized that a randomized set of points would do just as well, if not better at preserving the image as well as reducing the error in detecting points of entropy in the first place which resulted in the final program. You can see the results below, turned out pretty well if I may say so myself!</span> <br> 

    <img class= "inmodimage" id="mel" src="{% static "img/melsample.png" %}" alt="Voronoi Sample">
    <sub class="msub">As you can see, with an increased number of cells and points, the image becomes less and less abstract and more similar to the orginal</sub>

</div>


</div>
</div>

</div>
<div id="header"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <script>
         $(document).ready(function(){
            $('#footer').load('../footer');
         });
      </script>

<script type="text/javascript" src="{% static 'scripts/dev.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/function.js' %}"></script>




</body>
</html>