.inmodimage {
	height: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;

}

.intitle {
	display: center;

}

.contwords {
	display: block;
}

.in {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
}