.inmodimage {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
}


iframe.game {
display: block;

}

.hackwebimg {
		display: block;
	margin-right: auto;
	margin-left: auto;
  width: 60%; }

.hackmobimg {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#gameinfo {
	display: block;
}

.imagenextto {
text-align: center;

}


#mel {
		height: 25%;

}
.intitle {
	display: center;

}

.contwords {
	display: block;
}

.in {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px;
}


#pmarket {
	height: 20%;
}


.msub {    

	display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center

}